{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'main/style.css' %}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>

<body>
{% if calendar_title %}
    <table class="table table-striped table-hover table-bordered" style="width:100%">
        <caption>
            <h2><a href="/date_{{ calendar_prev_month }}"><<</a>{{ calendar_title }}<a href="/date_{{ calendar_next_month }}">>></a></h2>
        </caption>
        <a href="/date_{{ calendar_now.year }}_{{ calendar_now.month }}_{{ choice.default }}">Today</a>
    <tr>
    {% for week in calendar_week %}
        <th>{{ week }}</th>
    {% endfor %}
    </tr>
    {% for body in calendar_body %}
        <tr>
        {% for day in body %}
            {% if day != 0 %}
                {% if day == calendar_now.day and calendar_current is True  %}
                    <td style="background: darkred;"><p style="accent-color: aliceblue;">{{ day }}</p>
                        {% for event in events %}
                            {% if day == event.date.day %}
                                <div class="card" style="width: 18rem;">
                                    <div class="card border-primary">
                                      <div class="card-header"><a href="{{ event.link }}">{{ event.headline }}</a>
                                        <h6 class="card-subtitle mb-2 text-muted">Start at:{{ event.date|date:'H:i:s' }}</h6>
                                      </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% else %}
                    <td>{{ day }}
                        {% for event in events %}
                            {% if day == event.date.day %}
                                <div class="card" style="width: 18rem;">
                                    <div class="card border-primary">
                                      <div class="card-header"><a href="{{ event.link }}">{{ event.headline }}</a>
                                        <h6 class="card-subtitle mb-2 text-muted">Start at:{{ event.date|date:'H:i:s' }}</h6>
                                      </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </td>
                {% endif %}
            {% else %}
                <td></td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No calendar are available.</p>
{% endif %}

<select class="form-select" aria-label="Default select example" onChange="window.location.href=this.value">
  <option selected value="/date_{{ calendar_now.year }}_{{ calendar_now.month }}_{{ choice.default }}">{{ choice.default }}</option>
    {% for body in choice.choice %}
        {% if choice.default != body %}
            <option value="/date_{{ calendar_now.year }}_{{ calendar_now.month }}_{{ body }}">{{ body }}</option>
        {% endif %}
    {% endfor %}
</select>
</body>
</html>